body{
    margin: 0;
}
h1{
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 45px;
    margin: 0;
    padding: 20px;
}
#grid ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
    padding-left: 33px;
}
a{
    color: blue;
    text-decoration: none;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
    #grid{
        display: block;
    }
    #grid ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}